body{
	background: black;
	color: white;
	font-size: 2em;
	font-family: Arial;
}

.slide{
	margin: 0 auto;
	display: flex;
}

textarea{
	width: 100%;
	max-width: 1000px;
	height: 380px;
	max-height: 750px;
	font-size: 1em!important;
	background: #EFEFEF;
}

#indicator{
	display: none;
}

.potter{
	background-image: url("../img/potter/head.png");
	background-repeat: no-repeat;
	height: 640px;
}
.cloak{ height: 680px; }

