#intro , #intro_real{
	padding: 0;
	border: 0;
}

#intro h1 , #intro_real h1{
	width: 630px;
	min-height: 400px;
	margin: 5% auto 0;
	font-size: 58px;
	text-align:center;
	font-family:'Bad Script', Arial;
}
#intro h1, .especial h1 span, .bye h2{
	font-family:'Bad Script', Arial;
	font-size: 320%;
	color: white;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 1px #000; 
}

#intro .attribution, #intro_real .attribution {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	line-height: .3;
	color: rgba(0,0,0,.9);
	text-shadow: none;
	background: yellow;
	/*padding:.6em 0 0;*/
	overflow: hidden;
}


#css-controls-demo label {
	display: block;
}

/* --------- Dos columnas -------------- */
.left{
	float: left;
	width: 48%;
	margin-right: 5px;
	margin-top: 20px;
}
.right{
	float: right;
	width: 48%;
	margin-top: 20px;
}




/* ---------------- Border-radius ------------- */

.borderradius div{
	width: 160px;
	height: 160px;
	background: red;
	margin: 30px;
	float: left;
	line-height: 160px;
	text-align: center;
	font-size: 18px;
	color: white;
}
.borderradius > p{
	clear: both;
}
.borderradius div:nth-of-type(1){
	border-radius: 5px;
}
.borderradius div:nth-of-type(2){
	border-radius: 5px 50px;
}
.borderradius div:nth-of-type(3){
	border-radius: 50%;
}
.borderradius div:nth-of-type(4){
	border-radius: 80px;
	width: 300px;
}
.borderradius div:nth-of-type(5){
	border-radius: 50%;
	width: 300px;
}

section.borderradius.line div{ line-height: normal; }

.fuckyou{background-image: url("img/fuck_you.jpg"); background-size: cover;}


/* ---------------------------- Fin Border-radius --------------------------- */

/* ------------------- Primera prueba - Logo Facebook ------------------ */
textarea.clear, .container + textarea{ height: 350px; }
.container p, .vase p{
	font-size: 14px;
	font-weight: normal;
}

.teoria{
	position: absolute;
	bottom: 5%;
}
/*
.vase{ background-image: url("img/vase.jpg"); background-size: cover; width: 800px; height: 600px; }
.vase + .right{ width: 44%;}
*/










img.perfil{
	border-radius: 6px;
	border: 1px solid #000;
	box-shadow: 5px 2px 8px rgba(255,255,255,0.4);
}

.motores img, .otros img, .futuro img{
	display:block;
	margin-right:auto;
	margin-left:auto;
}
.otros img{
	border-radius: 7px;
	width: 90%;
	max-width: 900px;
}
.futuro img{
	border-radius: 7px;
	width: 90%;
	max-width: 600px;
}
.english h2, .friends h2{
	position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		margin-top: -.6em;
		font-size: 400%;
		line-height: 1;
		text-align: center;
	font-family:'Bad Script', Arial;
	text-shadow: 2px 2px 5px #000, -2px -2px 15px #000;
}
.friends h2{
	font-size: 280%;
}
.friends{
	background: url("img/fondo_friends.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

p.no-strong{
	font-weight: normal;
}

